body {
    background-color: #202020;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.title {
    background: rgb(49,177,216);
    background: linear-gradient(90deg, rgba(49,177,216,1) 25%, rgba(0,87,194,1) 75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
    margin: 20px;
}

hr {
    max-width: 68%;
}

.tagline {
    font-size: 30px;
    margin: 15px;
}

.description {
    max-width: 68%;
    margin: auto;
    margin-bottom: 20px;
}

form {
    display: block;
    padding: 2.5rem 0.625rem;
    border-radius: 0.25rem;
    max-width: 800px;
    margin: auto;
}

.section-header {
    font-size: 20px;
    background: rgb(49,177,216);
    background: linear-gradient(90deg, rgba(49,177,216,1) 25%, rgba(0,87,194,1) 75%);
    border-radius: 5px;
    max-width: 800px;
}

label {
    display: flex;
    align-items: center;
    font-size: 1.125rem;
    text-align: left;
}

.form-line {
    display: block;
    width: 95%;
    height: 1.35rem;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    color: rgb(181, 175, 166);
    background-color: rgb(24, 26, 27);;
    border-color: rgb(151, 145, 136);
    border: 0.75px solid rgb(151, 145, 136);
    border-radius: 0.25rem;
    margin: 0 1rem;
}

.basic-information {
    padding: 0 15px;
    padding-bottom: 20px;
}

.basic-information label {
    display: block;
    padding: 15px;
    padding-bottom: 25px;
}

button {
    display: block;
    margin: 25px auto;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    background: rgb(49,177,216);
    background: linear-gradient(90deg, rgba(49,177,216,1) 25%, rgba(0,87,194,1) 75%);
    border: 0.5px solid rgb(151, 145, 136);
    border-radius: 5px;
}

@media (min-width: 1100px) {
    .description {
        width: 750px;
        margin: auto;
        margin-bottom: 20px;
    }

    hr {
        width: 740px;
    }
}